<!DOCTYPE html>
<html>
<head>
	<title>Metrics</title>
	<style>
		table {
			width: 70%;
			margin: 20px auto;
			border-collapse: collapse;
		}
		th, td {
			padding: 10px;
			text-align: left;
			border: 1px solid #ddd;
		}
		th {
			background-color: #f4f4f4;
		}
		h2 {
			text-align: center;
			margin-top: 20px;
		}
	</style>
</head>
<body>
	<h1 style="text-align: center;">Metrics</h1>
	{{range .}}
		<h2>{{.MType}}</h2>
		<table>
			<tr>
				<th>ID</th>
				<th>Type</th>
				<th>Delta</th>
				<th>Value</th>
			</tr>
			<tr>
				<td>{{.ID}}</td>
				<td>{{.MType}}</td>
				<td>
					{{if .Delta}}
						{{.Delta}}
					{{else}}
						N/A
					{{end}}
				</td>
				<td>
					{{if .Value}}
						{{.Value}}
					{{else}}
						N/A
					{{end}}
				</td>
			</tr>
		</table>
	{{end}}
</body>
</html>